:root {
	--headerTextColor: rgb(255, 255, 255);
}

/*for index */
html{
	font-family: Arial, Helvetica, sans-serif;
}

/*header format start*/
.header_row{
	background-image: linear-gradient(155deg,#5300a1 ,#0081a1,#00a171);
	width: 100%;
	margin: 0;
	padding-bottom: .1%;
}
/*Text: "The date of change"*/
.header_row p{
	float: right;
	color: var(--headerTextColor);
}
/*text: "Ilya Pivavaruk"*/
.header_row h1 {
	color: var(--headerTextColor);
	font-size: 60px;
	text-align: center;
}
/*text: "Software Engineer"*/
.header_row h2{
	color: var(--headerTextColor);
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 50px;
}
/*image of me*/
.header_row img{

	/*max-width: 505px;*/
	max-width: 20%;
	display: block;
	/*float:left;*/
	
	margin-left: auto;
	margin-right: auto;

	border-style: solid;
	border-color: var(--headerTextColor);
	/*border-color: #002060;*/
	border-radius: 50%;
	
}
.img_div{
	margin-bottom: 50px;
}

/*header format end*/

body {
	/*background-color: #ffffff;*/
	background-color: #f9fbf2;
	margin:0px;
}

/*description row start*/

.description_row{
	
	width: 100%;
	margin: 0;
	padding-bottom: .1%;
	font-family:'Courier New', Courier, monospace;
}

.description_row h2{
	text-align: center;
	font-size: 200%;
	font-weight: bolder;
}
.description_row p{
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;

	font-size: 150%;
	font-weight:bold;
}

/*description row end*/

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;

}
nav ul li{
	float: right;
	font-size: 150%;
	font-weight: bold;
	border-style: solid;
	border-color: #002060;
	margin: 0px 5px;

}
nav ul li a{
	display: inline-block;
	padding: 8px;
	color: #000000;
	/*text-shadow: 2px 2px #61892f;*/

}
li a:hover{
	
	background-color: #00206042;
}
a:link{
	
	text-decoration: none;
}


p {
	color: #000000;
	font-size: 110%;
	text-align: center;
	padding: 0px 20px;
}

.row{
	text-align: center;
	margin: 3% 15%;
}

p a{
	display: inline-block;
	padding: 8px;
	color: #000000;
	/*text-shadow: 2px 2px #61892f;*/
	border-style: solid;
	border-color: #002060;

}
p a:hover{
	
	background-color: #00206042;
}

/*projects row start*/
.projects_row{

	background-image: linear-gradient(155deg,#00a171 ,#0081a1,#5300a1);
	width: 100%;
	margin: 0;
	padding-bottom: .1%;
}

/*---------------------------------------------------*/
.projects_grid{
	background-image: linear-gradient(155deg,#00a171 ,#0081a1,#5300a1);
	padding: 10px;
	display: grid;
	gap: 1rem;

	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

	grid-auto-rows: minmax(240px, 1fr);
}

.grid_obj{
	background-image: url("images/mazepic.jpg");
	background-color: greenyellow;
	

	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*---------------------------------------------------*/


/*projects row end*/