:root {
	--headerTextColor: rgb(255, 255, 255);
}

html{
	font-family: Arial, Helvetica, sans-serif;
}

/*header format start*/
.header_row{
	background-image: linear-gradient(155deg,#5300a1 ,#0081a1,#00a171);
	width: 100%;
	margin: 0;
	padding-bottom: .1%;
}

.header_row ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	
}
.header_row nav ul li{
	float: right;
	font-size: 150%;
	font-weight: bold;
	border-style: solid;
	border-color: var(--headerTextColor);
	margin: 10px 5px 0px 5px;
	border-radius: 25px;
	overflow: hidden;
	background-image: linear-gradient(155deg,#00a171,#0081a1,#002cbe );
	
}
.header_row nav ul li a{
	display: inline-block;
	padding: 8px;
	color: var(--headerTextColor);
	/*text-shadow: 2px 2px #61892f;*/
}
.header_row nav ul li a:hover{
	
	background-color: #ffee005d;
	
}
.header_row a:link{
	
	text-decoration: none;
}

/*text: "'name of project'"*/
.header_row h1 {
	color: var(--headerTextColor);
	font-size: 60px;
	text-align: center;
}
/*text: "'used technology'"*/
.header_row h2{
	color: var(--headerTextColor);
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 50px;
}


/*header format end*/

body {
	/*background-color: #ffffff;*/
	background-color: #f9fbf2;
	margin:0px;
}
/*-----------------------------------------*/
.description_row{
	
	width: 100%;
	margin: 0;
	padding-bottom: .1%;
	font-family:'Courier New', Courier, monospace;
}

.description_row h2{
	text-align: center;
	font-size: 200%;
	font-weight: bolder;
}
.description_row p{
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 150%;
	font-weight:bold;
}
/*Videos from local files*/
.description_row video{
	border-style: solid;
	border-color: rgb(97, 158, 0);
	width:70%;
	height:70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
/*Videos from YouTube*/
.description_row .vid{

	text-align: center;
}

.description_row img{
	border-style: solid;
	border-color: rgb(97, 158, 0);
	width:70%;
	height:70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*-----------------------------------------*/

/*ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;

}
nav ul li{
	float: right;
	font-size: 150%;
	font-weight: bold;
	border-style: solid;
	border-color: #002060;
	margin: 0px 5px;

}
nav ul li a{
	display: inline-block;
	padding: 8px;
	color: #000000;

}
li a:hover{
	
	background-color: #00206042;
}
a:link{
	
	text-decoration: none;
}
h1 {
	color: #002060;
	font-size: 60px;
	text-align: center;
}
h2{
	color: #002060;
	text-align: center;
	padding: 10px;
	margin: 1% 10%;

}

p {
	color: #000000;
	font-size: 110%;
	text-align: left;
	padding: 0px 20px;
	margin: 0 9%;
}

img{

	max-width: 48%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}
.row{
	text-align: center;
	margin: 3% 15%;
}
.col{
	float:left;
	max-width: 500px;
	margin: 1%;
	padding: 3px 3px 0 3px;
	border-style: solid;
	border-color: #002060;
	
}
p a{
	display: inline-block;
	padding: 8px;
	color: #000000;
	border-style: solid;
	border-color: #002060;

}
p a:hover{
	
	background-color: #00206042;
}

video{
	border-style: solid;
	border-color: #002060;
	width:50%;
	height:50%;
}
main{
	text-align: center;
	
}

.postfooter {
    clear: both;
}

.vid {
	position: relative;
	width: 100%;
	height: 100%;
}
.vid iframe{
	margin: auto;
	top:0;
	left: 0;
	width: 50%;
	height: 500px;
}*/